# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Environment
.env

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log

# Testing
.pytest_cache/
.coverage
htmlcov/

# Build
dist/
build/

# Mongo
*.bson

# Misc
.env.local